/* MAIN STYLING */
/* Basic Styling */
html {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-family: "Lato", "Arial", sans-serif;
    scroll-behavior: smooth;
}

code {
    font-family: "Menlo", "Monaco", "Consolas", monospace;
    padding: 0 3px;
    color: #232629ff;
    background-color: #e3e6e8ff;
    border-radius: 5px;
}

footer p {
    text-align: center;
}
