/* MAIN STYLING */
/* Basic Styling */
h1, h2, h3, h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1px;
}

/* CLASS-BASED STYLING */
/* Fixme */

/* QUERIES */
/* Fixme */
/* Styling for screens that are smaller than the maximum width*/
@media screen and (max-width: 1080px) {
    /* Device Styling */
    .desktop {
        display: none;
    }

    /* General Styling */
    .card-container {
        display: block;
    }

    /* Navbar */
    .logo {
        display: none;
    }
}
