/* MAIN STYLING */
/* Basic Styling */
html {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    scroll-behavior: smooth;
}

h1, h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1px;
}

p {
    line-height: 135%;
}

/* CLASS-BASED STYLING */
/* Device Styling */
.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* General Styling */
.card {
    margin: 20px;
}

.card-container {
    display: flex;
}

.column {
    width: 50%;
    padding: 10px;
}

.column * {
    width: 100%; /* Width of the item should be the width of the column */
}

.column img {
    border: black 1px solid;
}

.column p {
    text-align: justify;
}

.header {
    height: 100vh;
}

.hero-box {
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
}

.row {
    display: flex;
}

/* Navbar */
.logo {
    margin-top: 30px;
    height: 50px;
    width: auto;
    float: left;
}

/* Buttons */
.button {
    border: 0;
    width: 300px;
    padding: 10px 0;
    margin: 5px 0;
    font-size: 24px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.button:hover, .button:visited, .button:visited:hover {
    color: inherit;
}

.button:hover {
    cursor: pointer;
}

.docs-button {
    background-color: #a345e6;
}

.docs-button:hover {
    background-color: #7f36b3;
}


.github-button {
    background-color: #20a0a0;
}

.github-button:hover {
    background-color: #1b8787;
}

.releases-button {
    background-color: #456de6;
}

.releases-button:hover {
    background-color: #3655b3;
}

/* QUERIES */
/* Fixme */
/* Styling for screens that are smaller than the maximum width*/
@media screen and (max-width: 1080px) {
    /* Device Styling */
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* General Styling */
    .card-container {
        display: block;
    }

    .card {
        width: calc(100% - 90px);
    }

    .row {
        display: block;
    }

    .row img, .row video {
        width: 100%;
    }

    /* Navbar */
    .logo {
        display: none;
    }
}
