/* MAIN STYLING */
h1, h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1px;
}

/* QUERIES */
@media screen and (max-width: 1080px) {
    .hide-if-width-too-small {
        display: none;
    }
}
