/* MAIN STYLING */
h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 1px;
}

nav {
    max-width: 90%;
    margin: 0 auto;
}

/* CLASS-BASED STYLING */
/* Main classes */
.published-at, .release-name {
    text-align: center;
}

/* Others */
.row > a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-top: 0;
}

/* ID-BASED STYLING */
#release-name, #release-date {
    text-align: center;
}
